---
import BaseLayout from "../../layouts/BaseLayout.astro";
import TimeLineElement from "../../components/cv/TimeLine.astro";
---

<BaseLayout title="Agenda" sideBarActiveItemID="agenda">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Agenda</div>
  </div>

  <!-- JUEVES -->
  <div id="jueves">
    <div class="my-5">
      <div class="text-2xl w-full font-semibold">Jueves</div>
    </div>
    <div class="time-line-container grid gap-4 mb-10">
      <TimeLineElement title="Check in Hotel" subtitle="12:00am -3:00pm" />
      <TimeLineElement
        title="Lounge sorpresa para early guests"
        subtitle="9:00am - 11:00am"
      />
      <TimeLineElement
        title="Traslado al hotel + arreglarse"
        subtitle="9:00am - 11:00am"
      />
      <TimeLineElement title="Cena de apertura" subtitle="9:00am - 11:00am">
        <b>Vestuario</b> Toga party: gods and goddesses
      </TimeLineElement>
      <TimeLineElement
        title="Espacio para patrocinadores"
        subtitle="9:00am - 11:00am"
      />
      <TimeLineElement
        title="Rotasapiens/Rotaeinsteins"
        subtitle="9:00am - 11:00am"
      />
      <TimeLineElement title="Embajada" subtitle="9:00am - 11:00am">
        <b>Vestuario</b> Carnaval Caribeño
      </TimeLineElement>
    </div>
  </div>

  <!-- Viernes -->
  <div id="viernes">
    <div class="my-5">
      <div class="text-2xl w-full font-semibold">Viernes</div>
    </div>
    <div class="time-line-container grid gap-4 mb-10">
      <TimeLineElement title="Desayuno" subtitle="12:00am -3:00pm" />
      <TimeLineElement
        title="Traslado a foto oficial."
        subtitle="9:00am - 11:00am"
      />
      <TimeLineElement title="Foto oficial" subtitle="9:00am - 11:00am" />
      <TimeLineElement
        title="Traslado a proyecto social"
        subtitle="9:00am - 11:00am"
      />
      <TimeLineElement title="Proyecto Social" subtitle="9:00am - 11:00am" />
      <TimeLineElement title="Traslado hotel" subtitle="9:00am - 11:00am" />
      <TimeLineElement
        title="Tiempo de cambiarse"
        subtitle="9:00am - 11:00am"
      />
      <TimeLineElement
        title="Asamblea D4250 y D4240"
        subtitle="9:00am - 11:00am"
      />
      <TimeLineElement title="Break" subtitle="9:00am - 11:00am" />
      <TimeLineElement
        title="Tiempo libre + arreglarse"
        subtitle="9:00am - 11:00am"
      />
      <TimeLineElement title="Cena" subtitle="9:00am - 11:00am" />
      <TimeLineElement
        title="Miss Rotact y Rey Feo"
        subtitle="9:00am - 11:00am"
      />
      <TimeLineElement title="Embajada" subtitle="9:00am - 11:00am" />
    </div>
  </div>

  <!-- Sabado -->
  <div id="sabado">
    <div class="my-5">
      <div class="text-2xl w-full font-semibold">Sabado</div>
    </div>
    <div class="time-line-container grid gap-4 mb-10">
      <TimeLineElement title="Desayuno" subtitle="12:00am -3:00pm" />
      <TimeLineElement title="Conferencia 1" subtitle="9:00am - 11:00am" />
      <TimeLineElement title="Break" subtitle="9:00am - 11:00am" />
      <TimeLineElement title="Taller" subtitle="9:00am - 11:00am" />
      <TimeLineElement title="Almuerzo" subtitle="9:00am - 11:00am" />
      <TimeLineElement title="Tiempo Libre" subtitle="9:00am - 11:00am" />
      <TimeLineElement title="Conferencia 2" subtitle="9:00am - 11:00am" />
      <TimeLineElement
        title="Traslado a dinamicas"
        subtitle="9:00am - 11:00am"
      />
      <TimeLineElement title="Dinamicas" subtitle="9:00am - 11:00am" />
      <TimeLineElement title="Traslado al hotel" subtitle="9:00am - 11:00am" />
      <TimeLineElement
        title="Tiempo Libre + arreglarse"
        subtitle="9:00am - 11:00am"
      />
      <TimeLineElement
        title="Cena de Clausura + charlas clausura"
        subtitle="9:00am - 11:00am"
      />
      <TimeLineElement title="Embajada" subtitle="9:00am - 11:00am" />
    </div>
  </div>
</BaseLayout>
