---
import BaseLayout from "../../layouts/BaseLayout.astro";
import TimeLineElement from "../../components/cv/TimeLine.astro";
---

<BaseLayout title="Agenda" sideBarActiveItemID="agenda">
  <div class="mb-5">
    <div class="text-5xl w-full font-bold mb-6">Agenda</div>
    <div class="text-xl w-full font-mono font-semibold mb-2">Notes:</div>
    <div class="text-sm w-full font-mono text-cranberry font-bold mb-1">
      CONFE TSHIRT: <span class="text-black font-light"
        >BRING PANTS OR SHORT / CAP, TENNIS AND A EXTRA SHIRT</span
      >
    </div>
    <div class="text-sm w-full font-mono text-cranberry font-bold mb-1">
      SPORTY: <span class="text-black font-light"
        >TENNIS/ EXTRA SHIRT/ CAP/ SUNBLOCK</span
      >
    </div>
    <div class="text-sm w-full font-mono text-cranberry font-bold mb-1">
      PROM NIGHT: <span class="text-black font-light"
        >GALA PARTY</span
      >
    </div>
  </div>

  <!-- JUEVES -->
  <div id="jueves">
    <div class="my-5">
      <div class="text-3xl w-full font-semibold">Thursday</div>
    </div>
    <div class="time-line-container grid gap-4 mb-10">
      <TimeLineElement title="Check in Hotel" subtitle="12:00md -3:00pm">
        <div class="block">
          <div class="text-base text-cranberry">
            <b>Dress code:</b> FREE
          </div>
          <div class="text-sm text-royal-blue">
            <b>Place:</b> Lobby
          </div>
          <video width="320" height="240" controls>
            <source src="/inscripciones.mp4" type="video/mp4">
            <source src="/inscripciones.ogg" type="video/ogg">
          Your browser does not support the video tag.
          </video>
        </div>
      </TimeLineElement>
      <TimeLineElement
        title="Welcoming Lounge: EARLY GUESTS"
        subtitle="3:00pm - 5:30pm"
      >
        <div class="block">
          <div class="text-base text-cranberry">
            <b>Dress code:</b> FREE
          </div>
          <div class="text-sm text-royal-blue">
            <b>Place:</b> MESOAMERICA 4
          </div>
        </div>
      </TimeLineElement>
      <TimeLineElement title="Changing break" subtitle="5:30pm - 7:30pm">
        <div class="block">
          <div class="text-base text-cranberry">
            <b>Dress code:</b> GODS & GODDESSES
          </div>
        </div>
      </TimeLineElement>
      <TimeLineElement title="Opening dinner" subtitle="7:30pm - 8:00pm">
        <div class="block">
          <div class="text-base text-cranberry">
            <b>Dress code:</b> GODS & GODDESSES
          </div>
          <div class="text-sm text-royal-blue">
            <b>Place:</b> SALONES SUNZAL/COSTA DEL SOL
          </div>
        </div>
      </TimeLineElement>
      <TimeLineElement
        title="Speaker 1: Adriana de la Fuente"
        subtitle="8:00pm - 9:00pm"
      >
        <div class="block">
          <div class="text-base text-cranberry">
            <b>Dress code:</b> GODS & GODDESSES
          </div>
          <div class="text-sm text-royal-blue">
            <b>Place:</b> SALONES SUNZAL/COSTA DEL SOL
          </div>
        </div>
      </TimeLineElement>
      <TimeLineElement title="Changing break" subtitle="9:00pm - 10:00pm">
        <div class="block">
          <div class="text-base text-cranberry">
            <b>Dress code:</b> CARNIVAL
          </div>
        </div>
      </TimeLineElement>
    </div>
  </div>

  <!-- Viernes -->
  <div id="viernes">
    <div class="my-5">
      <div class="text-3xl w-full font-semibold">Friday</div>
    </div>
    <div class="time-line-container grid gap-4 mb-10">
      <TimeLineElement title="Breakfast" subtitle="6:00am - 8:00am">
        <div class="block">
          <div class="text-base text-cranberry">
            <b>Dress code:</b> CONFE TSHIRT
          </div>
          <div class="text-sm text-royal-blue">
            <b>Place:</b> RESTAURANTE EL MIRADOR
          </div>
        </div>
      </TimeLineElement>
      <TimeLineElement
        title="Official Photo Transfer"
        subtitle="8:00am - 9:30am"
      >
        <div class="block">
          <div class="text-base text-cranberry">
            <b>Dress code:</b> CONFE TSHIRT
          </div>
        </div>
      </TimeLineElement>
      <TimeLineElement title="Official Photo" subtitle="9:30am - 10:30am">
        <div class="block">
          <div class="text-base text-cranberry">
            <b>Dress code:</b> CONFE TSHIRT
          </div>
          <div class="text-sm text-royal-blue">
            <b>Place:</b> EL TUNCO
          </div>
        </div>
      </TimeLineElement>
      <TimeLineElement
        title="Community Project Transfer"
        subtitle="10:30am - 11:00am"
      >
        <div class="block">
          <div class="text-base text-cranberry">
            <b>Dress code:</b> CONFE TSHIRT
          </div>
        </div>
      </TimeLineElement>
      <TimeLineElement title="Community Project" subtitle="11:00am - 1:20pm">
        <div class="block">
          <div class="text-base text-cranberry">
            <b>Dress code:</b> CONFE TSHIRT
          </div>
          <div class="text-sm text-royal-blue">
            <b>Place:</b> REMAR
          </div>
        </div>
      </TimeLineElement>
      <TimeLineElement title="Hotel transfer" subtitle="1:20pm - 2:50pm">
        <div class="block">
          <div class="text-base text-cranberry">
            <b>Dress code:</b> CONFE TSHIRT
          </div>
          <div class="text-sm text-royal-blue">
            <b>Place:</b> REMAR
          </div>
        </div>
      </TimeLineElement>
      <TimeLineElement title="Changing break" subtitle="2:50pm - 3:30pm">
        <div class="block">
          <div class="text-base text-cranberry">
            <b>Dress code:</b> CONFE TSHIRT
          </div>
        </div>
      </TimeLineElement>
      <TimeLineElement
        title="Assembly D4250 y D4240"
        subtitle="3:30pm - 6:00pm"
      >
        <div class="block">
          <div class="text-base text-cranberry">
            <b>Dress code:</b> CLUB TSHIRT/ FREE
          </div>
          <div class="text-sm text-royal-blue">
            <b>Place:</b> SALONES SUNZAL/COSTA DEL SOL
          </div>
        </div>
      </TimeLineElement>
      <TimeLineElement title="Break" subtitle="6:00pm - 6:25pm">
        <div class="text-base text-cranberry">
          <b>Dress code:</b> CLUB TSHIRT/ FREE
        </div>
      </TimeLineElement>
      <TimeLineElement title="Changing Break" subtitle="6:25pm - 7:30pm">
        <div class="text-base text-cranberry">
          <b>Dress code:</b> CLUB TSHIRT/ FREE
        </div>
      </TimeLineElement>
      <TimeLineElement title="Dinner" subtitle="7:30pm - 9:00pm">
        <div class="block">
          <div class="text-base text-cranberry">
            <b>Dress code:</b> VILLANOS&ESPIAS
          </div>
          <div class="text-sm text-royal-blue">
            <b>Place:</b> SALONES TAMARINDO/COBANOS
          </div>
        </div>
      </TimeLineElement>
      <TimeLineElement
        title="Rotasapiens & Rotaeinstein"
        subtitle="9:00pm - 10:00pm"
      >
        <div class="block">
          <div class="text-base text-cranberry">
            <b>Dress code:</b> VILLANOS&ESPIAS
          </div>
          <div class="text-sm text-royal-blue">
            <b>Place:</b> SALONES TAMARINDO/COBANOS
          </div>
        </div>
      </TimeLineElement>
      <TimeLineElement
        title="Miss Rotact y Rey Feo"
        subtitle="10:00pm - 11:00pm"
      >
        <div class="block">
          <div class="text-base text-cranberry">
            <b>Dress code:</b> VILLANOS&ESPIAS
          </div>
          <div class="text-sm text-royal-blue">
            <b>Place:</b> SALONES TAMARINDO/COBANOS
          </div>
        </div>
      </TimeLineElement>
      <TimeLineElement title="Party" subtitle="11:00pm - 11:30pm">
        <div class="block">
          <div class="text-base text-cranberry">
            <b>Dress code:</b> VILLANOS&ESPIAS
          </div>
          <div class="text-sm text-royal-blue">
            <b>Place:</b> SALONES TAMARINDO/COBANOS
          </div>
        </div>
      </TimeLineElement>
      <TimeLineElement title="Changing break" subtitle="11:30pm - 12:00pm">
        <div class="block">
          <div class="text-base text-cranberry">
            <b>Dress code:</b> 12 HEARTS
          </div>
          <div class="text-sm text-royal-blue">
            <b>Place:</b> SALONES TAMARINDO/COBANOS
          </div>
        </div>
      </TimeLineElement>
    </div>
  </div>

  <!-- Sabado -->
  <div id="sabado">
    <div class="my-5">
      <div class="text-2xl w-full font-semibold">Saturday</div>
    </div>
    <div class="time-line-container grid gap-4 mb-10">
      <TimeLineElement title="Breakfast" subtitle="6:00am - 8:30am">
        <div class="block">
          <div class="text-base text-cranberry">
            <b>Dress code:</b> DELEGATION TSHIRT/FREE
          </div>
          <div class="text-sm text-royal-blue">
            <b>Place:</b> RESTAURANTE EL MIRADOR
          </div>
        </div>
      </TimeLineElement>
      <TimeLineElement title="Speaker 2: Anna Stout" subtitle="8:30am - 9:50am">
        <div class="block">
          <div class="text-base text-cranberry">
            <b>Dress code:</b> DELEGATION TSHIRT/FREE
          </div>
          <div class="text-sm text-royal-blue">
            <b>Place:</b> SALONES TAMARINDO/COBANOS
          </div>
        </div>
      </TimeLineElement>
      <TimeLineElement title="Coffee Break" subtitle="9:50am - 10:15am">
        <div class="text-base text-cranberry">
          <b>Dress code:</b> DELEGATION TSHIRT/FREE
        </div>
      </TimeLineElement>
      <TimeLineElement title="Workshop" subtitle="10:15am - 11:15am">
        <div class="block">
          <div class="text-base text-cranberry">
            <b>Dress code:</b> DELEGATION TSHIRT/FREE
          </div>
          <div class="text-sm text-royal-blue">
            <b>Place:</b> SALONES TAMARINDO/COBANOS
          </div>
        </div>
      </TimeLineElement>
      <TimeLineElement title="Break" subtitle="11:15am - 12:35md">
        <div class="text-base text-cranberry">
          <b>Dress code:</b> DELEGATION TSHIRT/FREE
        </div>
      </TimeLineElement>
      <TimeLineElement title="Lunch" subtitle="12:35md - 1:35pm">
        <div class="block">
          <div class="text-base text-cranberry">
            <b>Dress code:</b> DELEGATION TSHIRT/FREE
          </div>
          <div class="text-sm text-royal-blue">
            <b>Place:</b> RESTAURANTE EL MIRADOR
          </div>
        </div>
      </TimeLineElement>
      <TimeLineElement title="Break" subtitle="1:35pm - 2:35pm">
        <div class="text-base text-cranberry">
          <b>Dress code:</b> DELEGATION TSHIRT/FREE
        </div>
      </TimeLineElement>
      <TimeLineElement
        title="General indications of dynamics"
        subtitle="2:35pm - 3:00pm"
      >
        <div class="block">
          <div class="text-base text-cranberry">
            <b>Dress code:</b> SPORTY
          </div>
          <div class="text-sm text-royal-blue">
            <b>Place:</b> SALONES TAMARINDO/COBANOS
          </div>
        </div>
      </TimeLineElement>
      <TimeLineElement title="Hotel Transfer" subtitle="3:00 - 3:30pm">
        <div class="text-base text-cranberry">
          <b>Dress code:</b> SPORTY
        </div>
      </TimeLineElement>
      <TimeLineElement title="Dynamics" subtitle="3:30pm - 5:30pm">
        <div class="block">
          <div class="text-base text-cranberry">
            <b>Dress code:</b> SPORTY
          </div>
          <div class="text-sm text-royal-blue">
            <b>Place:</b> CUSCATLÁN PARK
          </div>
        </div>
      </TimeLineElement>
      <TimeLineElement title="Hotel Transfer" subtitle="5:30pm - 6:00pm">
        <div class="text-base text-cranberry">
          <b>Dress code:</b> SPORTY
        </div>
      </TimeLineElement>
      <TimeLineElement title="Changing break" subtitle="6:00pm - 8:00pm">
        <div class="text-base text-cranberry">
          <b>Dress code:</b> PROM NIGHT
        </div>
      </TimeLineElement>
      <TimeLineElement title="Closing Dinner" subtitle="8:00pm - 11:30pm">
        <div class="block">
          <div class="text-base text-cranberry">
            <b>Dress code:</b> PROM NIGHT
          </div>
          <div class="text-sm text-royal-blue">
            <b>Place:</b> SALONES TAMARINDO/COBANOS
          </div>
        </div>
      </TimeLineElement>
      <TimeLineElement title="Changing break" subtitle="11:30pm - 12:00am">
        <div class="text-base text-cranberry">
          <b>Dress code:</b> WET REPUBLIC
        </div>
      </TimeLineElement>
    </div>
  </div>
  <!-- Domingo -->
  <div id="domingo">
    <div class="my-5">
      <div class="text-2xl w-full font-semibold">Sunday</div>
    </div>
    <div class="time-line-container grid gap-4 mb-10">
      <TimeLineElement title="Breakfast" subtitle="6:00am - 9:00am">
        <div class="block">
          <div class="text-base text-cranberry">
            <b>Dress code:</b> FREE
          </div>
          <div class="text-sm text-royal-blue">
            <b>Place:</b> RESTAURANTE EL MIRADOR
          </div>
        </div>
      </TimeLineElement>
      <TimeLineElement title="Checkout " subtitle="9:00am - 12:00am">
        <div class="block">
          <div class="text-base text-cranberry">
            <b>Dress code:</b> FREE
          </div>
          <div class="text-sm text-royal-blue">
            <b>Place:</b> LOBBY
          </div>
        </div>
      </TimeLineElement>
    </div>
  </div>
</BaseLayout>
