---
import BaseLayout from "../../layouts/BaseLayout.astro";
import TimeLineElement from "../../components/cv/TimeLine.astro";
---

<BaseLayout title="Agenda" sideBarActiveItemID="agenda">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Agenda</div>
  </div>
  <!-- JUEVES -->
  <div id="jueves">
    <div class="my-5">
      <div class="text-2xl w-full font-bold">Jueves</div>
    </div>
    <div class="time-line-container grid gap-4 mb-10">
      <TimeLineElement title="Check in Hotel" subtitle="12:00am -3:00pm" />
      <TimeLineElement
        title="Lounge sorpresa para early guests"
        subtitle="9:00am - 11:00am"
      />
      <TimeLineElement
        title="Traslado al hotel + arreglarse"
        subtitle="9:00am - 11:00am"
      />
      <TimeLineElement title="Cena de apertura " subtitle="9:00am - 11:00am">
        <b>Vestuario</b> Toga party: gods and goddesses
      </TimeLineElement>
      <TimeLineElement
        title="Espacio para patrocinadores"
        subtitle="9:00am - 11:00am"
      />
      <TimeLineElement
        title=" Rotasapiens/Rotaeinsteins"
        subtitle="9:00am - 11:00am"
      />
      <TimeLineElement title="Embajada" subtitle="9:00am - 11:00am">
        <b>Vestuario</b> Carnaval Caribe単o
      </TimeLineElement>
    </div>
  </div>
  <!-- JUEVES -->
  <div id="jueves">
    <div class="my-5">
      <div class="text-3xl w-full font-bold">Jueves</div>
    </div>
    <div class="time-line-container grid gap-4 mb-10">
      <TimeLineElement title="Check in Hotel" subtitle="12:00am -3:00pm" />
      <TimeLineElement
        title="Lounge sorpresa para early guests"
        subtitle="9:00am - 11:00am"
      />
      <TimeLineElement
        title="Traslado al hotel + arreglarse"
        subtitle="9:00am - 11:00am"
      />
      <TimeLineElement title="Cena de apertura " subtitle="9:00am - 11:00am">
        <b>Vestuario</b> Toga party: gods and goddesses
      </TimeLineElement>
      <TimeLineElement
        title="Espacio para patrocinadores"
        subtitle="9:00am - 11:00am"
      />
      <TimeLineElement
        title=" Rotasapiens/Rotaeinsteins"
        subtitle="9:00am - 11:00am"
      />
      <TimeLineElement title="Embajada" subtitle="9:00am - 11:00am">
        <b>Vestuario</b> Carnaval Caribe単o
      </TimeLineElement>
    </div>
  </div>
  <!-- JUEVES -->
  <div id="jueves">
    <div class="my-5">
      <div class="text-3xl w-full font-bold">Jueves</div>
    </div>
    <div class="time-line-container grid gap-4 mb-10">
      <TimeLineElement title="Check in Hotel" subtitle="12:00am -3:00pm" />
      <TimeLineElement
        title="Lounge sorpresa para early guests"
        subtitle="9:00am - 11:00am"
      />
      <TimeLineElement
        title="Traslado al hotel + arreglarse"
        subtitle="9:00am - 11:00am"
      />
      <TimeLineElement title="Cena de apertura " subtitle="9:00am - 11:00am">
        <b>Vestuario</b> Toga party: gods and goddesses
      </TimeLineElement>
      <TimeLineElement
        title="Espacio para patrocinadores"
        subtitle="9:00am - 11:00am"
      />
      <TimeLineElement
        title=" Rotasapiens/Rotaeinsteins"
        subtitle="9:00am - 11:00am"
      />
      <TimeLineElement title="Embajada" subtitle="9:00am - 11:00am">
        <b>Vestuario</b> Carnaval Caribe単o
      </TimeLineElement>
    </div>
  </div>
  <!-- JUEVES -->
  <div id="jueves">
    <div class="my-5">
      <div class="text-3xl w-full font-bold">Jueves</div>
    </div>
    <div class="time-line-container grid gap-4 mb-10">
      <TimeLineElement title="Check in Hotel" subtitle="12:00am -3:00pm" />
      <TimeLineElement
        title="Lounge sorpresa para early guests"
        subtitle="9:00am - 11:00am"
      />
      <TimeLineElement
        title="Traslado al hotel + arreglarse"
        subtitle="9:00am - 11:00am"
      />
      <TimeLineElement title="Cena de apertura " subtitle="9:00am - 11:00am">
        <b>Vestuario</b> Toga party: gods and goddesses
      </TimeLineElement>
      <TimeLineElement
        title="Espacio para patrocinadores"
        subtitle="9:00am - 11:00am"
      />
      <TimeLineElement
        title=" Rotasapiens/Rotaeinsteins"
        subtitle="9:00am - 11:00am"
      />
      <TimeLineElement title="Embajada" subtitle="9:00am - 11:00am">
        <b>Vestuario</b> Carnaval Caribe単o
      </TimeLineElement>
    </div>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Charlistas</div>
    <div class="text-xl w-full font-semibold">
      Poner un detalle del charlista
    </div>
  </div>
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Actividad</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Job Title at Project or Company Name"
      subtitle="9:00am - 11:00am"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident.
    </TimeLineElement>
    <TimeLineElement
      title="Job Title at Project or Company Name"
      subtitle="9:00am - 11:00am"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident.
    </TimeLineElement>
    <TimeLineElement
      title="Job Title at Project or Company Name"
      subtitle="9:00am - 11:00am"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident.
    </TimeLineElement>
  </div>
</BaseLayout>
