---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { Image } from "@astrojs/image/components";
---

<BaseLayout sideBarActiveItemID="home" title="Home">
  <div class="mr-12">
    <div>
      <Image
        format="svg"
        width={300}
        height={100}
        fit="contain"
        src="/profile.svg"
        alt="Profile image"
      />
    </div>
    <div class="text-3xl font-bold titles leading-10 text-cranberry pb-6 mt-12">
      Welcome to "La Confe" Website!
    </div>
  </div>
  <div class="text-justify lg:mr-6">
    <text class="text-lg body leading-10 text-left lg:text-justify">
      It is an honor to warmly welcome you to the official website of the most
      anticipated event of the Rotary year:
      <span class="titles text-royal-blue"
        >The Bidistrict Rotaract Conference.</span
      >
      From <span class="titles">May 2-5,</span> 2024,
      <span class="titles text-cranberry">El Salvador</span> will welcome you Rotaracts
      from all corners of Central America. This event goes beyond national borders,
      it will be the catalyst to form a network of committed leaders who transcend
      geographical barriers and collaborate in projects of regional scope. Stay tuned
      to receive updates, registration details and participate in the surprise dynamics
      of our social networks.
      <br />
      <span class=""> Sincerely,</span>
      <br />
    </text>
    <div class="h-6"></div>
    <text class="signature text-cranberry text-4xl lg:text-5xl">
      -COC TEAM 2024
    </text>
  </div>
</BaseLayout>
