---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from "@astrojs/image/components";
---

<BaseLayout sideBarActiveItemID="home" title="Inicio">
  <div class="">
    <div>
      <Image
        class="border-cranberry border-2"
        format="png"
        width={500}
        height={500}
        fit="cover"
        src="/profile.png"
        alt="Profile image"
      />
    </div>
    <div class="text-xl py-1 text-royal-charcoal body">Hey there 游녦</div>
    <div class="text-3xl font-bold titles leading-10 text-cranberry pb-6">
      춰Bienvenidos al website de La Confe!
    </div>
    <!-- <div class="text-3xl font-bold">Frase de la confe</div> -->
    <!-- <div class="mt-8 pb-12">
      <a class="btn" href="/agenda" target="_blank"> Conoce la agenda</a>
      <a target="_blank" class="btn btn-outline"> Inscribete</a>
    </div> -->
  </div>
  <div class="">
    <text class="text-lg body leading-10">
      Es un honor darles la m치s c치lida bienvenida a la p치gina oficial del evento
      m치s anticipado del a침o rotario:
      <span class="titles text-royal-blue"
        >La Conferencia Bidistrital Rotaract.</span
      >
      Del <span class="titles">2 al 5</span> de mayo de 2024,
      <span class="titles text-cranberry">El Salvador</span>
      se convertir치 en el epicentro de la inspiraci칩n, la innovaci칩n y el cambio.
      J칩venes comprometidos como ustedes, provenientes de todos los rincones de Centroam칠rica,
      se unir치n para vivir una experiencia que transformar치 nuestras sociedades y
      dejar치 un impacto duradero. Este evento va m치s all치 de las fronteras nacionales.
      Ser치 el catalizador para formar una red de l칤deres comprometidos que trasciendan
      las barreras geogr치ficas y colaboren en proyectos de alcance regional. Imaginen
      el poder colosal que emana cuando las mentes j칩venes m치s brillantes se unen
      para enfrentar los desaf칤os compartidos de nuestra regi칩n. Permanezcan conectados
      para recibir actualizaciones, detalles de registro y participar en nuestras
      vibrantes redes sociales.
      <br />
      Nos encontraremos en mayo de 2024 para este encuentro 칠pico.
      <br />Hasta pronto,
      <br />
    </text>
    <div class="h-6"></div>
    <text class="signature text-cranberry text-4xl lg:text-5xl">
      - El Comit칠 Organizador de La Confe
    </text>
  </div>
  <style is:global>
    .titles {
      font-family: "Lemon Regular", sans-serif;
    }
    .body {
      font-family: "Avenir", sans-serif;
    }
    .signature {
      font-family: "Manly Signature Regular", sans-serif;
    }
  </style>
</BaseLayout>
