---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from "@astrojs/image/components";
---

<BaseLayout sideBarActiveItemID="home" title="Inicio">
  <div class="mr-12">
    <div class="image-spacing">
      <Image
        format="svg"
        width={400}
        height={100}
        fit="contain"
        src="/confe-logo.svg"
        alt="Profile image"
      />
    </div>
    <div
      class="text-xl py-2 text-royal-charcoal body"
      style="margin-top: -100px;"
    >
      Hey there 游녦
    </div>
    <div class="text-3xl font-bold titles leading-10 text-cranberry pb-6">
      춰Bienvenidos al website de La Confe!
    </div>
    <!-- <div class="text-3xl font-bold">Frase de la confe</div> -->
    <!-- <div class="mt-8 pb-12">
      <a class="btn" href="/agenda" target="_blank"> Conoce la agenda</a>
      <a target="_blank" class="btn btn-outline"> Inscribete</a>
    </div> -->
  </div>
  <div class="text-justify lg:mr-6">
    <text class="text-lg body leading-10 text-left lg:text-justify">
      Es un honor darles una c치lida bienvenida a la p치gina oficial del evento
      m치s esperado del a침o rotario:
      <span class="titles text-royal-blue"
        >La Conferencia Bidistrital Rotaract.</span
      >
      Del <span class="titles">2 al 5</span> de mayo de 2024,
      <span class="titles text-cranberry">El Salvador</span> les dar치 la bienvenida
      ustedes, rotaracts provenientes de todos los rincones de Centroam칠rica. Este
      evento va m치s all치 de las fronteras nacionales, ser치 el catalizador para formar
      una red de l칤deres comprometidos que trasciendan las barreras geogr치ficas y
      colaboren en proyectos de alcance regional. Stay tuned para recibir actualizaciones,
      detalles de registro y participar en las din치micas sorpresa de nuestras redes
      sociales.
      <br />
      <span class=""> Atentamente,</span>
      <br />
    </text>
    <div class="h-6"></div>
    <text class="signature text-cranberry text-4xl lg:text-5xl">
      - El COC 2024
    </text>
  </div>
  <style is:global>
    .titles {
      font-family: "Lemon Regular", sans-serif;
    }
    .body {
      font-family: "Avenir", sans-serif;
    }
    .signature {
      font-family: "Manly Signature Regular", sans-serif;
    }
    .image-spacing {
      margin-top: -135px;
      margin-left: -90px;
    }
  </style>
  <style></style>
</BaseLayout>
